<h1><span class="glyphicon glyphicon-user"> </span>  Adding</h1>

<table>
    <tr>
        <th>Nama</th>
        <td><input ng-model="datapegawai.nama" class="form-control"/></td>
    </tr>

    <tr>
        <th>Username</th>
        <td><input ng-model="datapegawai.username" class="form-control"/></td>
    </tr>

    <tr>
        <th>Password</th>
        <td><input ng-model="datapegawai.password" class="form-control"/></td>
    </tr>

    <tr>
        <th>Tempat Tanggal Lahir</th>
        <td><input ng-model="datapegawai.ttl.tempat" class="form-control"/></td>
        <td><input ng-model="datapegawai.ttl.tanggal" class="form-control"/></td>
    </tr>

    <tr>
        <th>Umur</th>
        <td><input ng-model="datapegawai.umur" class="form-control"/></td>
    </tr>

    <tr>
        <th>Alamat</th>
    </tr>
    <tr>
        <td>
            <tr>
                <td>Provinsi :</td>
                <td><input ng-model="datapegawai.alamat.provinsi" class="form-control"/></td>
            </tr>
        </td>

        <td>
            <tr>
                <td>Kota :</td>
                <td><input ng-model="datapegawai.alamat.kota" class="form-control"/></td>
            </tr>
        </td>

        <td>
            <tr>
                <td>Kelurahan :</td>
                <td><input ng-model="datapegawai.alamat.kelurahan" class="form-control"/></td>
            </tr>
        </td>



        <td>
            <tr>
                <td>Kode Pos :</td>
                <td><input ng-model="datapegawai.alamat.kodepos" class="form-control"/></td>
            </tr>
        </td>
    </tr>

    <tr>
        <th>Jenis Kelamin</th>
        <td><input ng-model="datapegawai.jenis_kelamin" class="form-control"/></td>
    </tr>

    <tr>
        <th>Agama</th>
        <td><input ng-model="datapegawai.agama" class="form-control"/></td>
    </tr>

    <tr>
        <th>Telepon</th>
    </tr>
    <tr>
        <td>
            <tr>
                <td>Rumah </td>
                <td><input ng-model="datapegawai.telepon.rumah" class="form-control"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Handphone</td>
                <td><input ng-model="datapegawai.telepon.handphone" class="form-control"/></td>
            </tr>
        </td>
    </tr>

    <tr>
        <th>Email</th>
        <td><input ng-model="datapegawai.email" class="form-control"/></td>
    </tr>

    <tr>
        <th>Pendidikan</th>
    </tr>
    <tr>
        <td>
            <tr>
                <td>Nama Sekolah</td>
                <td><input ng-model="datapegawai.pendidikan.nama_sekolah" class="form-control"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Jenjang</td>
                <td><input ng-model="datapegawai.pendidikan.jenjang" class="form-control"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Jurusan</td>
                <td><input ng-model="datapegawai.pendidikan.jurusan" class="form-control"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Mulai</td>
                <td><input ng-model="datapegawai.pendidikan.mulai" class="form-control"  type="number"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Lulus</td>
                <td><input ng-model="datapegawai.pendidikan.lulus" class="form-control"  type="number"/></td>
            </tr>
        </td>
    </tr>

    <tr>
        <th>Keluarga</th>
    </tr>
    <tr>

        <td>
            <tr>
                <td>Ayah</td>
                <td><input ng-model="datapegawai.keluarga.ayah" class="form-control"  type="number"/></td>
            </tr>
        </td>

        <td>
            <tr>
                <td>Ibu</td>
                <td><input ng-model="datapegawai.keluarga.ibu" class="form-control"  type="number"/></td>
            </tr>
        </td>

        <td>
            <tr>
                <td>Saudara 1</td>
                <td><input ng-model="datapegawai.keluarga.saudara_1" class="form-control"  type="number"/></td>
            </tr>
        </td>

        <td>
            <tr>
                <td>Saudara 2</td>
                <td><input ng-model="datapegawai.keluarga.saudara_1" class="form-control"  type="number"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Saudara 3</td>
                <td><input ng-model="datapegawai.keluarga.saudara_1" class="form-control"  type="number"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Saudara 4</td>
                <td><input ng-model="datapegawai.keluarga.saudara_1" class="form-control"  type="number"/></td>
            </tr>
        </td>
        <td>
            <tr>
                <td>Saudara 5</td>
                <td><input ng-model="datapegawai.keluarga.saudara_1" class="form-control"  type="number"/></td>
            </tr>
        </td>

    </tr>

    <tr>
        <th>Image</th>
    </tr>
    <tr>
        <td><input ng-model="datapegawai.image_path" class="form-control"/></td>
    </tr>

    <tr>
        <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="simpanPegawai(datapegawai)"/> <a href="/#/viewpegawai" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>