<h1><span class="glyphicon glyphicon-user"> </span>  Pendaftaran Pegawai Baru</h1>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<div class="row">
    <div class="col-xs-6 col-sm-3">
            <img src="/images/defaultavatar.jpg" class="thumbnail img-responsive" alt="Test">
        <label>Image : </label><input type="file" ng-model="datapegawai.image_path"/>
    </div>

    <div class="col-xs-6 col-md-8 table-responsive">
        <ul class="nav nav-tabs"  id="myTab">
            <li class="active"><a href="#identitas" data-toggle="tab"><strong>Identitas</strong></a></li>
            <li><a href="#domisili" data-toggle="tab"><strong>Domisili</strong></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="identitas">
                <br>
                <table>
                    <tr>
                        <td>Nama </td>
                        <td><input ng-model="datapegawai.nama" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Username </td>
                        <td><input ng-model="datapegawai.username" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Password </td>
                        <td><input type="password" ng-model="datapegawai.password" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Tempat Tanggal Lahir </td>
                        <td><input ng-model="datapegawai.ttl.tempat" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <div class="input-group">
                                <input ng-model="datapegawai.ttl.tanggal" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Jenis Kelamin </td>
                        <td>
                        <select ng-model="datapegawai.jenis_kelamin" class="form-control">
                            <option value="Laki-laki">Laki - Laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Agama </td>
                        <td>
                            <select ng-model="datapegawai.agama" class="form-control">
                                <option value="Islam">Islam</option>
                                <option value="Kristen">Kristen</option>
                                <option value="Budha">Budha</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Lainnya">Lainnya</option>
                            </select>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="tab-pane" id="domisili">
                <br>
                <table>
                    <tr>
                        <td>Negara </td>
                        <td><input ng-model="datapegawai.negara" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Provinsi </td>
                        <td><input ng-model="datapegawai.alamat.provinsi" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Kecamatan </td>
                        <td><input ng-model="datapegawai.alamat.kecamatan" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Kota </td>
                        <td><input ng-model="datapegawai.alamat.kota" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Kelurahan </td>
                        <td><input ng-model="datapegawai.alamat.kelurahan" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Kode Pos </td>
                        <td><input ng-model="datapegawai.alamat.kodepos" class="form-control"/></td>
                    </tr>

                    <tr>
                        <th>Telepon </th>
                    </tr>

                    <tr>
                        <td>
                            <tr>
                                <td>Rumah </td>
                                <td><input ng-model="datapegawai.telepon.rumah" class="form-control"/></td>
                            </tr>
                        </td>
                        <td>
                            <tr>
                                <td>Handphone </td>
                                <td><input ng-model="datapegawai.telepon.handphone" class="form-control"/></td>
                            </tr>
                        </td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td><input ng-model="datapegawai.email" class="form-control"/></td>
                    </tr>

                    <tr>
                        <td>Tanggal Masuk</td>
                        <td>
                            <div class="input-group">
                                <input ng-model="datapegawai.tanggal_masuk" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><select ng-model="datapegawai.status" class="form-control">
                            <option value="Tetap">Tetap</option>
                            <option value="Kontrak">Kontrak</option>
                            <option value="Tidak Aktif">Tidak Aktif</option>
                        </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        <br>
</div>

<div class="table-responsive">
    <table>
        <tr>
            <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="simpanPegawai(datapegawai)"/> <a href="/#/viewpegawai" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
        </tr>
    </table>
 </div>