<h1><span class="glyphicon glyphicon-user"> </span>  Editing {{ datapegawai._id }}</h1>

<table>
    <tr>
        <th>Nama</th>
    </tr>
    <tr>
        <td><input ng-model="datapegawai.nama" class="form-control"/></td>
    </tr>
    <tr>
        <th>Umur</th>
    </tr>
    <tr>
        <td><input ng-model="datapegawai.umur" class="form-control"/></td>
    </tr>
    <tr>
        <th>Alamat</th>
    </tr>
    <tr>
        <td><input ng-model="datapegawai.alamat" class="form-control"/></td>
    </tr>
    <tr>
        <th>Username</th>
    </tr>
    <tr>
        <td><input ng-model="datapegawai.username" class="form-control"/></td>
    </tr>
    <tr>
        <th>Password</th>
    </tr>
    <tr>
        <td><input ng-model="datapegawai.password" class="form-control"/></td>
    </tr>
    <tr>
        <td><input type="hidden" ng-model="datapegawai._id"/></td>
    </tr>
    <tr>
    <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="updatePegawai()"/> <a href="/#/viewpegawai" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>