<div>
    <h1><span class="glyphicon glyphicon-user"> </span>  Data Pegawai</h1>
    <form role="form">
        <div class="form-group">
            <label> Pencarian : </label> <input type="text" ng-model="search" placeholder="Enter Keyword">
        </div>
    </form>
    <a href="/#/addpegawai"> <span class="glyphicon glyphicon-plus"></span><label> Tambah Data Baru</label></a>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nama</th>
                <th>Umur</th>
                <th>Alamat</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="data in datapegawai | filter : search" class="repeat-animation">

                <td>{{ $index + 1 }}</td>
                <td>{{ data.nama }}</td>
                <td>{{ data.umur }}</td>
                <td>{{ data.alamat }}</td>
                <td>{{ data.username }}</td>
                <td>{{ data.password }}</td>
                <td>  <a href="/#/editpegawai/{{ data._id }}" class="hover-shadow"><span class="glyphicon glyphicon-pencil"></span></a> <a href="" ng-click="delPegawai(data)" class="hover-shadow"><span class="glyphicon glyphicon-trash"></span></a> </td>
            </tr>
        </table>
    </div>

</div>
