<div>
    <h1><span class="glyphicon glyphicon-tasks"> </span>  Stock Produsen</h1>
    <form role="form">
        <div class="form-group">
            <label> Pencarian : </label> <input type="text" ng-model="search" placeholder="Enter Keyword">
        </div>
    </form>
    <a href="/#/addprodusen"> <span class="glyphicon glyphicon-plus"></span><label> Tambah Data Baru</label></a>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nama</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="data in dataprodusen | filter : search" class="repeat-animation">

                <td>{{ $index + 1 }}</td>
                <td>{{ data.nama }}</td>
                <td>  <a href="/#/editprodusen/{{ data._id }}" class="hover-shadow"><span class="glyphicon glyphicon-pencil"></span></a> <a href="" ng-click="delProdusen(data)" class="hover-shadow"><span class="glyphicon glyphicon-trash"></span></a>  </td>
            </tr>
        </table>
    </div>

</div>
