<h1>Adding</h1>

<table>
    <tr>
        <th>Nama</th>
        <th>Harga</th>
        <th>Stock</th>
    </tr>
    <tr>
        <td><input ng-model="databarang.nama"/></td>
        <td><input ng-model="databarang.harga"/></td>
        <td><input ng-model="databarang.stock"/></td>
    </tr>
    <tr>
        <td><input type="submit" class="btn btn-primary" value="Save" ng-click="simpanBarang(databarang)"/>  <a href="/#/viewbarang"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>