<h1><span class="glyphicon glyphicon-tasks"> </span>  Editing</h1>

<table>
    <tr>
        <th>Nama</th>
    </tr>
    <tr>
        <td><input ng-model="databarang.nama" class="form-control"/></td>
    </tr>
    <tr>
        <th>Harga</th>
    </tr>
    <tr>
        <td><input ng-model="databarang.harga" class="form-control"/></td>
    </tr>
    <tr>
        <th>Stock</th>
    </tr>
    <tr>
        <td><input ng-model="databarang.stock" class="form-control"/></td>
    </tr>
    <tr>
        <td><input type="submit" class="btn btn-primary" value="Save" ng-click="updateBarang(databarang)"/>  <a href="/#/viewbarang"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>