<h1><span class="glyphicon glyphicon-user"> </span>  Editing User</h1>

<table>
    <tr>
        <th>Username</th>
    </tr>
    <tr>
        <td><input ng-model="datauser.username" class="form-control"/></td>
    </tr>
    <tr>
        <th>Password</th>
    </tr>
    <tr>
        <td><input ng-model="datauser.password" class="form-control"/></td>
    </tr>
    <tr>
        <th>Email</th>
    </tr>
    <tr>
        <td><input ng-model="datauser.email" class="form-control"/></td>
    </tr>
    <tr>
        <td><input type="hidden" ng-model="datauser._id"/></td>
    </tr>
    <tr>
        <td><input type="submit" class="btn btn-primary" value="Save" ng-click="updateUser()"/> <a href="/#/viewuser"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>