<div>
    <h1>Data User</h1>
    <form role="form">
        <div class="form-group">
            <label> Pencarian : </label> <input type="text" ng-model="search" placeholder="Enter Keyword">
        </div>
    </form>
    <a href="/#/adduser"> <span class="glyphicon glyphicon-plus"></span><label> Tambah Data Baru</label></a>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="data in datauser | filter : search" class="repeat-animation">

                <td>{{ $index + 1 }}</td>
                <td>{{ data.username }}</td>
                <td>{{ data.password }}</td>
                <td>{{ data.email }}</td>
                <td>  <a href="/#/edituser/{{ data._id }}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="" ng-click="delUser(data)"><span class="glyphicon glyphicon-trash"></span></a>  </td>
            </tr>
        </table>
    </div>

</div>
