<h1>Adding User Assingment</h1>

<table>
    <tr>
        <th>User</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>
            <select ng-change="selectActionUser()" ng-model="selectedDataUser" ng-options="datausers._id as datausers.username for datausers in datauser">
                <option value="">== Select User ==</option>
            </select>
        </td>
        <td>
            <select ng-change="selectActionRole()" ng-model="selectedDataRole" ng-options="dataroles.id as dataroles.role for dataroles in datarole">
                <option value="">== Select Role ==</option>
            </select>
        </td>
        <td><input type="hidden" ng-model="datauserassingment.role_id"/></td>
        <td><input type="hidden" ng-model="datauserassingment.user_id"/></td>
    </tr>
    <tr>
        <td><input type="submit" class="btn btn-primary" value="Save" ng-click="simpanUserAssingment(datauserassingment)"/> <a href="/#/viewuserassingment"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>