<h1><span class="glyphicon glyphicon-transfer"> </span>  Adding User Assingment</h1>

<table>
    <tr>
        <th>Pegawai</th>
    </tr>
    <tr>
        <td>
            <select ng-change="selectActionPegawai()" ng-model="selectedDataPegawai" ng-options="datapegawais._id as datapegawais.nama for datapegawais in datapegawai" class="form-control">
                <option value="">== Select Pegawai ==</option>
            </select>
        </td>
        <td><input type="hidden" ng-model="datauserassingment.pegawai_id"/></td>
    </tr>
    <tr>
        <th>Role</th>
    </tr>
    <tr>
        <td>
            <select ng-change="selectActionRole()" ng-model="selectedDataRole" ng-options="dataroles.id as dataroles.role for dataroles in datarole" class="form-control">
                <option value="">== Select Role ==</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><input type="hidden" ng-model="datauserassingment.role_id"/></td>
    </tr>
    <tr>
        <br>
        <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="simpanUserAssingment(datauserassingment)"/> <a href="/#/viewuserassingment" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>