<h1>Editing Role</h1>

<table>
    <tr>
        <td><label>ID :  </label></td>
    </tr>
    <tr>
        <td><input ng-model="datarole.id" disabled class="form-control"/></td>
    </tr>
    <tr>
        <td><label>Role :  </label></td>
    </tr>
    <tr>
        <td><input ng-model="datarole.role" class="form-control"/></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
    <tr>
        <td><input type="hidden" ng-model="datarole._id"/></td>
    </tr>
    <tr>
        <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="updateRole()"/> <a href="/#/viewrole" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a> </td>
    </tr>
</table>