<h1><span class="glyphicon glyphicon-tasks"> </span>  Adding Mata Uang</h1>

<table>
    <tr>
        <th>ID</th>
    </tr>
    <tr>
        <td><input ng-model="datamatauang.id" class="form-control"/></td>
    </tr>

    <tr>
        <th>Nama</th>
    </tr>
    <tr>
        <td><input ng-model="datamatauang.nama" class="form-control"/></td>
    </tr>

    <tr>
        <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="simpanMataUang(datamatauang)"/>  <a href="/#/viewmatauang" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>