<h1><span class="glyphicon glyphicon-tasks"> </span>  Edit Satuan</h1>

<table>
    <tr>
        <th>ID</th>
    </tr>
    <tr>
        <td><input ng-model="datasatuan.id" class="form-control"/></td>
    </tr>

    <tr>
        <th>Nama</th>
    </tr>
    <tr>
        <td><input ng-model="datasatuan.nama" class="form-control"/></td>
    </tr>

    <tr>
        <td><input type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="updateSatuan(datasatuan)"/>  <a href="/#/viewsatuan" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>
</table>