<div>
<h1><span class="glyphicon glyphicon-send"> </span> Profile</h1>
</div>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<div class="row">
<div class="col-xs-6 col-sm-3">
    <img src="/images/defaultavatar.jpg" class="thumbnail img-responsive" alt="Test">
    <label>Image : </label><input type="file" ng-model="datapegawai.image_path"/>
</div>

<div class="col-xs-6 col-md-8 table-responsive">
    <div><h2>{{ datapegawai.nama}}</h2></div>
    <ul class="nav nav-tabs"  id="myTab">
        <li  class="active"><a href="#identitas" data-toggle="tab"><strong>Identitas</strong></a></li>
        <li><a href="#domisili" data-toggle="tab"><strong>Domisili</strong></a></li>
        <li><a href="#riwayat_kerja" data-toggle="tab"><strong>Riwayat Bekerja</strong></a></li>
        <li><a href="#pendidikan" data-toggle="tab"><strong>Pendidikan</strong></a></li>
        <li><a href="#keluarga" data-toggle="tab"><strong>Keluarga</strong></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="identitas">
            <br>
            <table>
                <tr>
                    <th>Nama</th>
                    <td>: {{ datapegawai.nama }}</td>
                </tr>

                <tr>
                    <th>Username</th>
                    <td>: {{ datapegawai.username }}</td>
                </tr>

                <!--<tr>
                    <th>Password</th>
                    <td>: {{ datapegawai.password }}</td>
                </tr>-->

                <tr>
                    <th>Tempat Tanggal Lahir</th>
                    <td>: {{ datapegawai.ttl.tempat }}, {{ datapegawai.ttl.tanggal.substring(0,10) }}</td>
                </tr>

                <tr>
                    <th>Jenis Kelamin</th>
                    <td>: {{ datapegawai.jenis_kelamin }}</td>
                </tr>

                <tr>
                    <th>Agama</th>
                    <td>: {{ datapegawai.agama }}</td>
                </tr>

                <tr>
                    <th>Telepon</th>
                </tr>
                <tr>
                    <td>
                <tr>
                    <td>Rumah </td>
                    <td>: {{ datapegawai.telepon.rumah }}</td>
                </tr>
                </td>
                <td>
                    <tr>
                        <td>Handphone</td>
                        <td>: {{ datapegawai.telepon.handphone }}</td>
                    </tr>
                </td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>: {{ datapegawai.email }}</td>
                </tr>

            </table>
        </div>
        <div class="tab-pane" id="domisili">
            <br>
            <table>
                <td>
                    <tr>
                        <td>Provinsi </td>
                        <td>: {{ datapegawai.alamat.provinsi }}</td>
                    </tr>
                </td>

                <tr>
                    <td>Kecamatan </td>
                    <td>: {{ datapegawai.alamat.kecamatan }}</td>
                </tr>

                <td>
                    <tr>
                        <td>Kota </td>
                        <td>: {{ datapegawai.alamat.kota }}</td>
                    </tr>
                </td>

                <td>
                    <tr>
                        <td>Kelurahan </td>
                        <td>: {{ datapegawai.alamat.kelurahan }}</td>
                    </tr>
                </td>



                <td>
                    <tr>
                        <td>Kode Pos </td>
                        <td>: {{ datapegawai.alamat.kodepos }}</td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="tab-pane" id="riwayat_kerja">
            <br>
            <table>
                    <td>
                        <tr>
                            <td>Tanggal Masuk </td>
                            <td>: {{ datapegawai.tanggal_masuk.substring(0,10) }}</td>
                        </tr>
                </td>
                <tr>
                    <td>Status</td>
                    <td>: {{ datapegawai.status }}
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>


                <table class="table table-striped">
                    <tr>
                        <th>Tanggal</th>
                        <th>Jabatan</th>
                        <th>Gaji</th>
                    </tr>

                    <tr ng-repeat="datariwayat in datariwayatbekerja | filter : datapegawai._id ">
                        <td>{{ datariwayat.tanggal_riwayat.substring(0,10) }}</td>
                        <td>{{ datariwayat.jabatan }}</td>
                        <td>{{ datariwayat.gaji | number }}</td>
                    </tr>
                </table>




            </table>
        </div>

        <div class="tab-pane" id="pendidikan">
            <br>
            <table class="table table-striped">
                <tr>
                    <th>Nama Sekolah</th>
                    <th>Jenjang</th>
                    <th>Mulai</th>
                    <th>Lulus</th>
                    <th>Jurusan</th>
                    <th>Nilai / IPK</th>
                </tr>

                <tr ng-repeat="datapegawai in datapegawaipendidikan | filter : datapegawai._id ">
                    <td>{{ datapegawai.nama_sekolah }}</td>
                    <td>{{ datapegawai.jenjang }}</td>
                    <td>{{ datapegawai.mulai }}</td>
                    <td>{{ datapegawai.lulus }}</td>
                    <td>{{ datapegawai.jurusan }}</td>
                    <td>{{ datapegawai.nilai }}</td>
                </tr>
            </table>

        </div>

        <div class="tab-pane" id="keluarga">
            <br>
            <table class="table table-striped">
                <tr>
                    <th>Nama</th>
                    <th>Status</th>
                    <th>Tanggal lahir</th>
                    <th>Alamat</th>
                    <th>Pekerjaan</th>
                    <th>Keterangan</th>
                </tr>

                <tr ng-repeat="datapegawai in datapegawaikeluarga | filter : datapegawai._id ">
                    <td>{{ datapegawai.nama }}</td>
                    <td>{{ datapegawai.status }}</td>
                    <td>{{ datapegawai.tanggal_lahir.substring(0,10) }}</td>
                    <td>{{ datapegawai.alamat }}</td>
                    <td>{{ datapegawai.pekerjaan }}</td>
                    <td>{{ datapegawai.keterangan }}</td>
                </tr>
            </table>

        </div>
    </div>

    <br>
</div>
</div>
