<h1><span class="glyphicon glyphicon-tasks"> </span>  Adding</h1>

<table>
    <tr>
        <th>Tanggal Transaksi</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.tanggal_transaksi" class="form-control"/></td>
    </tr>

    <tr>
        <th>No Kwitansi</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.no_kwitansi" class="form-control"/></td>
    </tr>

    <tr>
        <th>Total Transaksi</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.total_transaksi" class="form-control"/></td>
    </tr>

    <tr>
        <th>Uang Bayar</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.uang_bayar" class="form-control"/></td>
    </tr>

    <tr>
        <th>Uang Kembali</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.uang_kembali" class="form-control"/></td>
    </tr>

    <tr>
        <th>Pegawai</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.pegawai" class="form-control"/></td>
    </tr>

    <tr>
        <th>Status</th>
    </tr>
    <tr>
        <td><input ng-model="datatransaksipenjualan.status" class="form-control"/></td>
    </tr>

    <tr>
        <td><input  type="submit" class="btn btn-primary hover-shadow" value="Save" ng-click="simpanTransaksiPenjualan(datatransaksipenjualan)"/>  <a href="/#/viewtransaksipenjualan" class="hover-shadow"><input type="button" class="btn btn-warning" value="Back"/> </a></td>
    </tr>

</table>